body {
  background: rgba(198, 238, 252, 0.53); }

#content {
  width: 960px;
  margin: 0 auto;
  background: #3b3b3b;
  padding: 20px; }

h1 {
  text-align: center;
  color: #fccd10;
  text-transform: uppercase; }

h2 {
  color: #fccd10; }

p, table {
  color: #ffffff; }

a {
  color: #fccd10; }

img {
  border: 2px solid #fccd10; }

.img-left {
  float: left;
  margin: 7px 7px 7px 0; }

.img-right {
  float: right;
  margin: 20px 0px 0px 7px; }

caption {
  text-align: right;
  color: black; }

th {
  background-color: #94a34e;
  padding: 10px;
  border-right: 1px solid white;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
  text-align: left; }

td {
  border-bottom: 1px solid #94a34e;
  padding: 10px; }

table {
  background-color: #677d01;
  border-collapse: collapse; }

form {
  width: 100%; }

#p_form {
  color: #f5c70f;
  margin: 10px 0;
  padding: 0; }

.name_field {
  float: left;
  width: 50%; }

.surname_field {
  float: right;
  width: 50%; }

.email_field, .mark_field, .response_field {
  width: 100%; }

input, textarea {
  width: inherit; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 5px; }

::-moz-placeholder {
  /* Firefox 19+ */
  padding: 5px; }

:-ms-input-placeholder {
  /* IE 10+ */
  padding: 5px; }

:-moz-placeholder {
  /* Firefox 18- */
  padding: 5px; }

button {
  color: #f5c70f;
  background-color: transparent;
  margin: 10px auto;
  text-transform: uppercase;
  width: 30%;
  font-size: 20px;
  height: 50px;
  padding: .5em 2em;
  outline: none;
  border: 1px solid;
  border-radius: 1px; }

.brief {
  background-color: #fff178;
  padding: 15px;
  margin-right: 10px;
  margin-top: 3px;
  width: auto; }
