$main_bg_color:rgba(198, 238, 252, 0.53);
$blocks_bg_color: #fff178;
$content_bg_color:#3b3b3b;
$headers_color:#fccd10;
$text_color: #ffffff;
$table_header_color:#94a34e;
$table_body_color:#677d01;
$response_text_color: #f5c70f;
$btn_text_color:#f5c70f;
$a_color:#fccd10;
$trans_text: uppercase;